    // out:style.css, sourcemap: false, compress: true


    @import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
    @import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

    @color-white:#FFF;
    @color-black:#000;
    @color-sub:#CCC;
    @color-main:#C26670;
    @color-master:#C26670;
    @color-line:@color-sub;
    @color-font:#000;

    //reset
    body,html,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,p{margin: 0; padding: 0;}
    body{font-family: 'Josefin Slab', 'notosanskr' ,sans-serif;}
    ul,ol,li{list-style: none;}
    img{border: 0; vertical-align: top;}
    input{vertical-align: middle;}
    a{
        text-decoration: none;
        color: @color-font;
    }

    //layout
    #header{
        padding: 20px 50px;;
        outline: 1px #CCC solid; text-align: center; background-color: #C26670;
        h1{
            font-size: 30px;
            font-weight: 300;
            border-bottom: 1px @color-sub solid;
            padding-bottom: 5px;
            display: inline-block;
            text-transform: uppercase;
            a{
                color: #CCC;
                span{
                    font-size: 12px;
                    display: block;
                }
            }
        }
        .blogMenu{
            font-size: 0px;
            li{
                font-size: 10px;
                color: @color-white;
                display: inline-block;
                margin: 0 5px;
                a{
                    font-size: 14px;
                    color: @color-white;
                    &:hover{
                        color: @color-sub;
                    }
                }
            }
        }
    }
    #container{
        width: 990px;
        margin: 20px auto 0;
        border: 1px #C26670 solid;
        .entry{

            .titleWrap{
                padding-bottom: 20px;
                border: 1px #000 solid;
                h2 a{
                    font-weight: 300;
                    border-bottom: 2px @color-main solid;

                }
            }//titleWrap close
            .article{
                font-size: 13px;
            }
            .actionTrail{
                font-size: 12px;
                color: @color-sub;

            }
            .tagTrail{
                font-size: 13px;
                border: 1px @color-sub solid;
                border-radius: 3px;
                margin: 4px 0;
                padding: 20px;
                    .tagText{
                        border-radius: 3px 3px 0 0;
                        margin-left: 20px;
                        position: absolute;
                        left: 0;
                        top: -30px;;
                        height: 30px;
                        padding: 0 15px;
                        color: @color-white;
                    }
                a{
                    font-size: 12px;
                    color: @color-white;
                    background-color: @color-main;
                    padding: 4px 5px;
                    border-radius: 10px;
                }
            } //tagTrail close
            .comment{
                margin-top: 30px;

                .commentWrite{

                    textarea{
                        width: 985px;
                    }

                    input[value="Enter"]{
                        background-color: @color-main;
                        border-radius: 10px;
                        color: @color-white;
                    }


                }
                .commentList{
                    border: 1px #CCC solid;

                    ol>li{
                        font-size: 11px;
                        margin: 30px 0;
                        overflow: hidden;

                    }

                    ol>li .rp_admin{
                        overflow: hidden;
                    }

                    ul>li .rp_admin{
                        margin-left: 68px;
                    }

                    .image{
                        width: 50px;
                        height: 50px;
                        border: 3px #C26670 solid;
                        border-radius: 60px;
                        overflow: hidden;;
                        display: block;
                        float: left;

                    img{
                        width: 100%;
                        outline: 3px #C26670 solid;

                    }
                    } //image close
                    .control{
                        float: right;
                            a{
                                font-size: 11px;
                                color: @color-white;
                                background-color: @color-main;
                                padding: 4px 5px;
                                border-radius: 10px;
                            }
                    } //control close





                    } //commentList close






            } //comment close

        } //entry close


    }
